<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.clevertap.android.geofence">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>

    <application>

        <receiver android:name=".CTGeofenceReceiver">
            <!--<intent-filter>
                <action android:name="com.clevertap.android.geofence.fence.update" />
            </intent-filter>-->
        </receiver>

        <receiver android:name=".CTLocationUpdateReceiver">
            <!--<intent-filter>
                <action android:name="com.clevertap.android.geofence.location.update" />
            </intent-filter>-->
        </receiver>

        <receiver android:name=".CTGeofenceBootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <service
            android:name=".CTGeofenceService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".CTLocationUpdateService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>

</manifest>
